body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
    text-align: center;
    color:#b8860b;
    background-color: black;
}

.header, .subheader {
    display:flex;
    justify-content: center;
    align-items: center;
    left:0;
    right:0;
    top:0;
    text-align: center;
    padding:5vmin;
    border-radius: 2vmin;
    margin:1vmin;
}

.header {
    background-color: #800000;
    font-size: 5vmin;
}
.subheader {
    background-color: #650202;
    font-size: 3vmin;
}

p, .officer {
    border:dashed;
    border-color: #b8860b;
    background-color: black;
    border-radius: 2vmin;
    padding:2vmin;
    margin:1vmin;
    font-size: 2.5vmin;
}

.footer {
    position: fixed;
    display:flex;
    left: 50%;
    transform: translate(-50%, 0);
    bottom:0;
    padding-bottom:2vmin;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
    padding:2vmin;
}

h4 {
    margin:1vmin;
}

a {
    text-decoration:underline;
    color:#b8860b
}

video {
    border:solid;
    color:white;
    border-radius: 2vmin;
    height:50vh;
    margin:2vmin;
}

.content {
    margin-bottom: 15vmin;
    z-index: 0;
}

.title {
    font-weight: bold;
}

.overlay {
    position: fixed;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding:2vmin;
    border-radius: 2vmin;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

button {
    background-color: transparent;
    border:none;
    font-size: 2vmin;
    font-weight: bold;
    text-decoration: underline;
}

button:hover {
    opacity: 0.5;
}

button:active {
    color:white;
}